body {
  margin: 0;
  font-family: "Quicksand", sans-serif !important;
  color: #59626c !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.primary-button {
  color: white !important;
  font-weight: bold !important;
  background-color: #e76661 !important;
  border-color: #e76661 !important;
}

.secondary-button {
  color: #e76661 !important;
  font-weight: bold !important;
  background-color: white !important;
  border-color: #e76661 !important;
}
