.landing-page-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page p {
  text-align: center;
}

.landing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.funny-link {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 4px;
}

.landing-buttons button {
  margin: 10px;
}
